.header-nav {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    z-index: 1000;
}

.box{
    background-color: rgb(219, 9, 9);
    position: relative;
}
.col{
    position: relative;
    top :28px;
    left : 600px
}
.footer{
    background-color: #2C3333;
    z-index: 1000;
    text-align: center;
    position: absolute;
    transform: translate(-50%, 0%);
    width: 100%;
    left: 50%;
}

.icon{
    height: 2%;
    width: 2%;
}

.iconp{
    color: #fff;
}
/* .hide-nav-link-bar{
    z-index: -1;
} */

.header-nav span {
    text-transform: uppercase;
    display: block;
}

.tag{
    font-style: italic;
    font-weight: 600;
    font-size: 1.5em;
}

.mytext1 {
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.425), 0 0 4px rgba(0, 0, 0, 0.425), 0 0 8px rgba(0, 0, 0, 0.425), 0 0 32px rgba(0, 0, 0, 0.425), 0 0 64px rgba(0, 0, 0, 0.425), 0 0 90px rgba(0, 255, 255, 0.425);
    font-family: 'Zapf Chancery', Trattatello;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #0a00006c;
    border-radius: 5px;
    position: relative;
}

@keyframes text {
    0% {
        color: white;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
        color: white
    }
}

.mainBtn {
    position: relative;
    left: 35%;
    margin-top: 20%;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 0.045em;
    z-index: 1000;
}

.mainBtn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.mainBtn svg rect {
    /* stroke: #EC0033; */
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.mainBtn span {
    background: rgb(157, 3, 3);
    background: -moz-linear-gradient(left, rgb(170, 17, 17) 0%, rgb(222, 23, 23) 100%);
    background: -webkit-linear-gradient(left, rgb(189, 24, 24) 0%, rgb(195, 14, 14) 100%);
    background: linear-gradient(to right, rgb(161, 22, 22) 0%, rgb(194, 22, 22) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainBtn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

.maint-cnt {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: black;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
}

h1 span {
    font-size: 30px;
    margin-left: 15px;
    color: black;
}

.message {
    background-color: rgba(255, 255, 255, 0.062);
    border-radius:5px;
    color: rgb(0, 0, 0);
    display: block;
    font-weight: 500;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
}

.word1, .word2, .word3 {
    font-family: tahoma;
    font-size: 2.9rem;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
    }
    5% {
        width: 0;
    }
    15% {
        width: 230px;
    }
    30% {
        top: 0.2rem;
        width: 230px;
    }
    33% {
        top: 0.2rem;
        width: 0;
    }
    35% {
        top: 0.2rem;
        width: 0;
    }
    38% {
        top: -4.5rem;
    }
    48% {
        top: -4.5rem;
        width: 190px;
    }
    62% {
        top: -4.5rem;
        width: 190px;
    }
    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }
    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    86% {
        top: -9rem;
        width: 285px;
    }
    95% {
        top: -9rem;
        width: 285px;
    }
    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}
.cc{
    margin-left: 32px;
}

.word2 {
    margin-top: 5px;
}

.word3 {
    margin-top: 9px;
    font-size: 2.5rem;
    margin-top: 9px;
}

.word2 {
    margin-top: 5px;
    /* font-size: 2.5rem; */
}

.slogan {
    position: absolute;
    top: 170px;
    left: 600px;
}